@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all ease 0.6s;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: #D1C8FF;
}
.login {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: 100%;
  max-width: 420px;
  height: 450px;
  border-radius: 10px;
  background-color: #140B2D;
  box-shadow:
    0 0 8px rgba(176, 38, 255, 0.35),
    0 0 24px rgba(143, 44, 255, 0.25);
}

.welcome {
  text-align: center;
}

.loginInputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputs input {
  padding: 12px;
  background: transparent;
  border: 1px solid #8F2CFF;
  border-radius: 6px;
  color: #D1C8FF;
}
.inputs input:hover {
  opacity: 0.7;
}

button {
  align-self: center;
  width: 200px;
  padding: 10px;
  background: transparent;
  border: 1px solid #8F2CFF;
  border-radius: 10px;
  color: #D1C8FF;
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}

.links {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.links a {
  color: #B026FF;
  text-decoration: none;
}

.links a:hover {
  opacity: 0.8;
}
