* { 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    transition: all ease 0.35; 
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif; 
    color: #D1C8FF; 
} 
html,
body {
  height: 100%;
  margin: 0;
  background-color: #140B2D;
}

#root {
  min-height: 100vh;
  
}
