.signin {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    width: 100%;
    max-width: 420px;
    height: 490px;
    border-radius: 10px;
    background-color: #140B2D;
    box-shadow: 
    0 0 8px rgba(176, 38, 255, 0.35),
    0 0 24px rgba(143, 44, 255, 0.25);
    justify-content: center;
}

.welcome {
    text-align: center;
}
.welcome p {
    opacity: 0.5;
    font-size: 14px;
}

.signinInputs {
    flex-direction: column;
    display: flex;
    gap: 16px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputs input {
    background: transparent;
    border: 1px solid #8F2CFF;
    border-radius: 6px;
    color: #D1C8FF;
    width: 100%;
    padding: 12px;
}
.inputs input:hover {
    opacity: 0.7;
}

button {
    align-self: center;
    width: 200px;
    padding: 10px;
    background: transparent;
    border: 1px solid #8F2CFF;
    border-radius: 10px;
    color: #D1C8FF;
    cursor: pointer;
}
button:hover {
    opacity: 0.7;
}

.links {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.links a {
    color: #B026FF;
    text-decoration: none;
}

.links a:hover {
    opacity: 0.8;
}